<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-profile" >
	<tr>
		<td>
			<f:translate key="tx_profile_domain_model_profile.name" />
		</td>
		<td>
		{profile.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_profile_domain_model_profile.first_name" />
		</td>
		<td>
		{profile.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_profile_domain_model_profile.email" />
		</td>
		<td>
		{profile.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_profile_domain_model_profile.profile_image" />
		</td>
		<td>
				<f:image src="{profile.profileImage.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_profile_domain_model_profile.password" />
		</td>
		<td>
		{profile.password}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_profile_domain_model_profile.password2" />
		</td>
		<td>
		{profile.password2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_profile_domain_model_profile.birth_date" />
		</td>
		<td>
		{profile.birthDate -> f:format.date()}
		</td>
	</tr>
</table>
</html>
