<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_profile_domain_model_profile.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="firstName">
	<f:translate key="tx_profile_domain_model_profile.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="email">
	<f:translate key="tx_profile_domain_model_profile.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="email" /><br />
<label for="profileImage">
	<f:translate key="tx_profile_domain_model_profile.profile_image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="password">
	<f:translate key="tx_profile_domain_model_profile.password" /> <span class="required">(required)</span>
</label><br />
	<f:form.password property="password" /><br />
<label for="password2">
	<f:translate key="tx_profile_domain_model_profile.password2" /> <span class="required">(required)</span>
</label><br />
	<f:form.password property="password2" /><br />
<label for="birthDate">
	<f:translate key="tx_profile_domain_model_profile.birth_date" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="birthDate" value="{profile.birthDate->f:format.date()}" /><br />
</html>