<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Profile</h1>

    <f:flashMessages />

    <table  class="tx_profile" >
        <tr>
            <th><f:translate key="tx_profile_domain_model_profile.name" /></th>
            <th><f:translate key="tx_profile_domain_model_profile.first_name" /></th>
            <th><f:translate key="tx_profile_domain_model_profile.email" /></th>
            <th><f:translate key="tx_profile_domain_model_profile.profile_image" /></th>
            <th><f:translate key="tx_profile_domain_model_profile.password" /></th>
            <th><f:translate key="tx_profile_domain_model_profile.password2" /></th>
            <th><f:translate key="tx_profile_domain_model_profile.birth_date" /></th>
            <th> </th>
            <th> </th>
        </tr>

        <f:for each="{profiles}" as="profile">
            <tr>
                <td><f:link.action action="show" arguments="{profile : profile}"> {profile.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{profile : profile}"> {profile.firstName}</f:link.action></td>
                <td><f:link.action action="show" arguments="{profile : profile}"> {profile.email}</f:link.action></td>
                <td><f:link.action action="show" arguments="{profile : profile}"> {profile.profileImage.originalResource.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{profile : profile}"> {profile.password}</f:link.action></td>
                <td><f:link.action action="show" arguments="{profile : profile}"> {profile.password2}</f:link.action></td>
                <td><f:link.action action="show" arguments="{profile : profile}"> {profile.birthDate -> f:format.date()}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{profile : profile}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{profile : profile}">Delete</f:link.action></td>
            </tr>
            </f:for>
    </table>

    <f:link.action action="new">New Profile</f:link.action>
</f:section>
</html>
